extends layout

block header
  .intro
    .pilots
      h1 テイクオフに備えろ！
      h2 Rocket Ridesは、世界をリードするロケットプラットフォームです。私たちのパイロットチームに参加して、人々がより速く旅行できるようにします。
      if pilot && pilot.stripeAccountId
        a.button.primary(href='/pilots/dashboard') ダッシュボード
      else
        a.button.primary(href='/pilots/signup') パイロットになる

block content
  .features
    section.schedule
      h3 好きな時に飛べる
      p あなたはいつでもRocket Ridesのパイロットチームの一員になることができ、あなた自身のスケジュールを選ぶことができます。自分でスケジュールを決めて、好きなだけ飛ぶことができます。
    section.earnings
      h3 飛んだだけ、稼げる
      p 旅行代金は時間と距離に応じて増加します。好きな時に出金し、自分の口座に振り込まれます。
    section.app
      h3 ARアプリ
      p さぁ、ダウンロードしましょう。 天気予報、道順、24時間体制のサポートを受けることができます。スマートフォンを持っていない？問題ありません。

block footer
  .annotation.landing
    a.stripe(href='https://stripe.com') Stripe
    p Rocket Rides は #[a(href='https://stripe.com/connect') Stripe Connect] と #[a(href='https://stripe.com/connect/express') Express] デモアプリです。 現実に存在しているサービスではありません。
    a.github.arrow(href='https://github.com/stripe/stripe-connect-rocketrides') View on GitHub
