extends layout

block content
  h1.title.short-form
    if step == 'account'
      | アカウントの作成
    else if step == 'profile'
      | プロフィールの記入
  section.form(class={'account': step == 'account', 'profile': step == 'profile'})
    if error
      p.error= error

    case step
      when 'account'
        form(method='POST', autocomplete='off')
          fieldset
            .row(label='Eメール')
              input(type='email', name='email', placeholder='jane@example.com', required, autofocus)
            .row(label='パスワード')
              input(type='password', name='password', placeholder='••••••••', required)
          input.primary(type='submit', value='続ける')

      when 'profile'
        form(method='POST', autocomplete='off')
          h4.pilot-header アカウントタイプ
          .pilot-options
            label.pilot-option
              input(type='radio', name='pilot-type', value='individual', id='po-individual', checked=true)
              span 個人パイロット
            label.pilot-option
              input(type='radio', name='pilot-type', value='company', id='po-company')
              span パイロット会社

          h4.pilot-header#account-info 個人情報
          fieldset
            .row.pilot-info.individual(label='* 名前')
              input(type='text', name='firstName', placeholder='Jane')
            .row.pilot-info.individual(label='* 苗字')
              input(type='text', name='lastName', placeholder='Diaz')
            .row.pilot-info.company.hidden(label='* 会社名')
              input(type='text', name='businessName', placeholder='Infinity & Beyond LLC')
            .row.select(label='国')
              select(name='country')
                option(value='AU') Australia
                option(value='AT') Austria
                option(value='BE') Belgium
                option(value='BG') Bulgaria
                option(value='CA') Canada
                option(value='CY') Cyprus
                option(value='CZ') Czech Republic
                option(value='DK') Denmark
                option(value='EE') Estonia
                option(value='FI') Finland
                option(value='FR') France
                option(value='DE') Germany
                option(value='GR') Greece
                option(value='HK') Hong Kong SAR China
                option(value='IE') Ireland
                option(value='IT') Italy
                option(value='JP') Japan
                option(value='LV') Latvia
                option(value='LT') Lithuania
                option(value='LU') Luxembourg
                option(value='MT') Malta
                option(value='NL') Netherlands
                option(value='NZ') New Zealand
                option(value='NO') Norway
                option(value='PL') Poland
                option(value='PT') Portugal
                option(value='RO') Romania
                option(value='SG') Singapore
                option(value='SK') Slovakia
                option(value='SI') Slovenia
                option(value='ES') Spain
                option(value='SE') Sweden
                option(value='CH') Switzerland
                option(value='GB') United Kingdom
                option(value='US', selected=true) United States
          aside * Indicates required fields
          h4 ロケット情報
          fieldset
            .row(label='ロケット')
              input(type='text', name='rocket[model]', placeholder='Lightspeed 3000', value='Lightspeed 3000')
            .row(label='ライセンス')
              input(type='text', name='rocket[license]', placeholder='FUTURE 7', value='FUTURE 7')
            .row.select(label='カラー')
              select(name='rocket[color]')
                option(value='red') Red
                option(value='orange') Orange
                option(value='yellow') Yellow
                option(value='green') Green
                option(value='blue', selected) Blue
                option(value='purple') Purple
                option(value='black') Black
                option(value='white') White
          h4 決済関連情報の取り扱いについて
          .stripe-information
            p 当社では、お客様が期限内にお支払いを受けられるようにするため、またお客様の個人的な銀行や詳細を安全に保つために、Stripeを使用しています。#[strong 保存および次へ] をクリックし、Stripeのページにて登録を完了してください。
            
          input.primary(type='submit', value='保存および次へ')

      when 'payments'
        h1.title お客様のアカウントをStripeに接続
        p 当社はStripeを使用して、お客様が期限内に支払いを受けられるようにし、お客様の個人情報や銀行情報を安全に保管しています。
        a.button.primary(href='/pilots/stripe/authorize') 決済の設定

block footer
  .annotation.info

    case step
      when 'account'
        p 始めるにあたり、Rocket Ridesは独自のバックエンドでパイロット用のアカウントを作成します。プラットフォームでは、ここで電子メールやOAuthなど、あらゆる種類の認証を使用することができます。実際の製品であれば、一般的に利用規約やプライバシーポリシーもここにリンクされているはずです。

      when 'profile'
        p プラットフォームは、支払いの詳細を収集する前に、ユーザーに追加情報を要求することを選択できます。ここでは、Rocket Ridesはパイロットとそのロケットについていくつかの質問をしています。この情報は、プラットフォームのデータベースに保存されます。

      when 'payments'
        p このプラットフォームは #[a(href='https://stripe.com/connect/account-types') Connect Express] アカウントを使用し、 パイロットが決済をします。 オンボーディングを可能な限りシンプルにするために、収集したユーザー情報の一部をExpressに渡します。このアプリはテストモードなので、実際の支払いは行われません。支払い方法として、Stripe test Visaデビットカード番号を使用します。 #[strong 4000 0566 5566 5556]